<%% title t('list_<%= plural_name %>') %>

<table>
  <tr class="list">
  <%- for attribute in attributes -%>
    <th><%%= t('activerecord.attributes.<%=singular_name%>.<%=attribute.name%>').titleize %></th>
  <%- end -%>
  </tr>
  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr class="<%%=cycle('even', 'odd')%>">
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to t('show'), <%= singular_name %> %></td>
    <%- end -%>
      <td>
		<%% admin_area do %>      	
	    <%- if action? :edit -%>
      		<%%= link_to t('edit'), edit_<%= singular_name %>_path(<%= singular_name %>) %> |
    	<%- end -%>
		<%- if action? :destroy -%>
			<%%= link_to t('destroy'), <%= singular_name %>, :confirm => t('are_you_sure'), :method => :delete %>	  
		<%- end -%>
		<%% end %>		
	  </td>
    </tr>
  <%% end %>
</table>

<%- if action? :new -%>
<%% admin_area do %>
	<%%= link_to t('new_<%= singular_name%>'), new_<%= singular_name %>_path %>
<%% end %>
<%- end -%>
